<style>
	.gene-lens-popup {
		position: absolute;
		z-index: 999999;

		max-width: 500px;
		background: white;
		border: 1px solid #ececec;
		border-radius: 8px;
		padding: 16px 24px;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		font-family: system-ui, sans-serif;
		font-size: 12px;
		line-height: 1.6;
	}

	.gl-popup *,
	.gl-popup *::before,
	.gl-popup *::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;
		font-family: inherit;
		color: inherit;
		text-decoration: none;
		background: none;
		outline: none;
		font-size: inherit;
		font-weight: inherit;
	}

	/* Lists */
	.gl-popup ul,
	.gl-popup ol {
		list-style: none;
	}

	/* Set root styles */
	.gl-popup {
		font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
		font-size: 14px;
		line-height: 1.5;
		color: #111;
	}

	.gl-popup .gl-arrow {
		position: absolute;
		top: -8px;
		left: 20px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid white;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}

	.gl-popup .gl-close {
		position: absolute;
		top: 6px;
		right: 8px;
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
	}

	.gl-chips {
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
		margin-top: 8px;
	}

	.gl-chip {
		background: #f0f0f0;
		border-radius: 999px;
		padding: 2px 10px;
		font-size: 11px;
		font-weight: 500;
		border: 1px solid #ececec;
		color: #333;
		text-decoration: none;
	}

	.gl-aliases a {
		margin: 0 4px;
		color: #2a69ac;
		font-size: 12px;
		text-decoration: none;
	}

	.gl-name {
		font-size: 18px;
		font-weight: 500;
	}
</style>

<div class="gl-popup">
	<div class="gl-arrow"></div>
	<div class="gl-close">×</div>

	<!-- <h2 class="gl-symbol" id="gl-symbol"></h2> -->
	<h2 class="gl-name"></h2>
	<p class="gl-description"></p>

	<div class="gl-chips" id="gl-chips"></div>

	<ul class="gl-info" id="gl-info"></ul>
	<div class="gl-aliases" id="gl-aliases"></div>
</div>
